 ._fd-column{flex-direction:column;}
._miw-0px{min-width:0px;}
._mih-0px{min-height:0px;}
._bxs-border-box{box-sizing:border-box;}
._fb-auto{flex-basis:auto;}
._dsp-flex{display:flex;}
._fs-0{flex-shrink:0;}
._ai-stretch{align-items:stretch;}
._pos-relative{position:relative;}
._mt--80px{margin-top:-80px;}
._transform-19qlv72{transform:translateY(0px);}
._w-1aj14ca{width:var(--space-7);}
._h-1aj14ca{height:var(--space-7);}
._miw-1aj14ca{min-width:var(--space-7);}
._mih-1aj14ca{min-height:var(--space-7);}
@media screen and (max-width: 800px) { :root:root ._w-_sm_1aj1474{width:var(--space-1);} }
@media screen and (max-width: 800px) { :root:root ._h-_sm_1aj1474{height:var(--space-1);} }
@media screen and (max-width: 800px) { :root:root ._miw-_sm_1aj1474{min-width:var(--space-1);} }
@media screen and (max-width: 800px) { :root:root ._mih-_sm_1aj1474{min-height:var(--space-1);} }
._fs-1{flex-shrink:1;}
._fg-1{flex-grow:1;}
._zi-1{z-index:1;}
._pos-absolute{position:absolute;}
._b--20px{bottom:-20px;}
._zi-2{z-index:2;}
._contain-7xdkbw{contain:paint layout;}
._pe-none{pointer-events:none !important;}
._pe-auto{pointer-events:auto !important;}
._fd-row{flex-direction:row;}
._transform-qxh1gz{transform:translateX(-10px);}
@media screen and (max-width: 800px) { :root:root ._dsp-_sm_none{display:none;} }
._cur-ew-resize{cursor:ew-resize;}
._jc-center{justify-content:center;}
@media not all and (hover: none) { :root  ._o-0hover-0dot4:hover{opacity:0.4 !important;} }
._h-134px{height:134px;}
._w-8px{width:8px;}
._bblr-lmimfe{border-bottom-left-radius:var(--radius-9);}
._bbrr-lmimfe{border-bottom-right-radius:var(--radius-9);}
._btrr-lmimfe{border-top-right-radius:var(--radius-9);}
._btlr-lmimfe{border-top-left-radius:var(--radius-9);}
._o-0dot35{opacity:0.35;}
._bg-b5vn3b{background-color:var(--color);}
._zi-0{z-index:0;}
._ai-center{align-items:center;}
._b--75px{bottom:-75px;}
._r--1000px{right:-1000px;}
._l--1000px{left:-1000px;}
._o-0dot1{opacity:0.1;}
._blc-b5vn3b{border-left-color:var(--color);}
._bbc-b5vn3b{border-bottom-color:var(--color);}
._brc-b5vn3b{border-right-color:var(--color);}
._btc-b5vn3b{border-top-color:var(--color);}
._bbs-solid{border-bottom-style:solid;}
._bbw-1px{border-bottom-width:1px;}
._r-0px{right:0px;}
._l-0px{left:0px;}
._t-0px{top:0px;}
._w-10011{width:100%;}
._h-10011{height:100%;}
._b-0px{bottom:0px;}
._zi--1{z-index:-1;}
._h-439px{height:439px;}
._b-auto{bottom:auto;}
._ai-flex-start{align-items:flex-start;}
._transform-1jtuhhz{transform:translateY(-60px);}
._bg-rnt87j{background-color:var(--colorHover);}
._h-70px{height:70px;}
._w-1px{width:1px;}
._o-0dot2{opacity:0.2;}
._o-0dot05{opacity:0.05;}
._brs-solid{border-right-style:solid;}
._bls-solid{border-left-style:solid;}
._bts-solid{border-top-style:solid;}
._blw-1px{border-left-width:1px;}
._brw-1px{border-right-width:1px;}
._btw-1px{border-top-width:1px;}
._bg-cbjnf9{background-color:var(--backgroundPress);}
._w-a0wktc{width:var(--size-4);}
._h-a0wktc{height:var(--size-4);}
._maw-a0wktc{max-width:var(--size-4);}
._mah-a0wktc{max-height:var(--size-4);}
._miw-a0wktc{min-width:var(--size-4);}
._mih-a0wktc{min-height:var(--size-4);}
._btlr-100000px{border-top-left-radius:100000px;}
._btrr-100000px{border-top-right-radius:100000px;}
._bbrr-100000px{border-bottom-right-radius:100000px;}
._bblr-100000px{border-bottom-left-radius:100000px;}
._pt-0px{padding-top:0px;}
._pr-0px{padding-right:0px;}
._pb-0px{padding-bottom:0px;}
._pl-0px{padding-left:0px;}
._transform-qk8iv3{transform:translateY(-20px) translateX(-17px);}
._w-9911{width:99%;}
._blc-zx92k3{border-left-color:var(--borderColor);}
._bbc-zx92k3{border-bottom-color:var(--borderColor);}
._brc-zx92k3{border-right-color:var(--borderColor);}
._btc-zx92k3{border-top-color:var(--borderColor);}
._bblr-lmimby{border-bottom-left-radius:var(--radius-5);}
._bbrr-lmimby{border-bottom-right-radius:var(--radius-5);}
._btrr-lmimby{border-top-right-radius:var(--radius-5);}
._btlr-lmimby{border-top-left-radius:var(--radius-5);}
._oy-hidden{overflow-y:hidden;}
._ox-hidden{overflow-x:hidden;}
._bxsh-13vh14k{box-shadow:0px 17px 34px var(--shadowColor);}
._h-50px{height:50px;}
._bbw-0px{border-bottom-width:0px;}
._pl-1aj14ak{padding-left:var(--space-5);}
._pr-1aj14ak{padding-right:var(--space-5);}
._bg-180kg62{background-color:var(--background);}
._w-10px{width:10px;}
._h-10px{height:10px;}
._miw-10px{min-width:10px;}
._maw-10px{max-width:10px;}
._mah-10px{max-height:10px;}
._mih-10px{min-height:10px;}
._bg-i3vlmi{background-color:var(--red10);}
._bg-1afbd91{background-color:var(--yellow10);}
._bg-g284eg{background-color:var(--green10);}
._pl-1aj148u{padding-left:var(--space-3);}
._pr-1aj148u{padding-right:var(--space-3);}
._bblr-lmima8{border-bottom-left-radius:var(--radius-3);}
._bbrr-lmima8{border-bottom-right-radius:var(--radius-3);}
._btrr-lmima8{border-top-right-radius:var(--radius-3);}
._btlr-lmima8{border-top-left-radius:var(--radius-3);}
._fg-2{flex-grow:2;}
._h-30px{height:30px;}
._cur-text{cursor:text;}
._ussel-text{user-select:text;-webkit-user-select:text;}
._ml-0px{margin-left:0px;}
._mb-0px{margin-bottom:0px;}
._mr-0px{margin-right:0px;}
._mt-0px{margin-top:0px;}
._ww-break-word{word-wrap:break-word;}
._dsp-inline{display:inline;}
._col-b5vn3b{color:var(--color);}
._ff-4yewjq{font-family:var(--f-fa);}
._fow-3uqccu{font-weight:var(--f-we-2);}
._ls-3w5fb2{letter-spacing:var(--f-yw-2);}
._fos-3slpxi{font-size:var(--f-si-2);}
._lh-3or5rz{line-height:var(--f-li-2);}
._ml--2px{margin-left:-2px;}
._mr--2px{margin-right:-2px;}
._bg-1pxso62{background-color:var(--color1);}
._contain-paint{contain:paint;}
._o-1{opacity:1;}
._o-0{opacity:0;}
._zi-10{z-index:10;}
._pb-1aj14ak{padding-bottom:var(--space-5);}
._pt-1aj14ak{padding-top:var(--space-5);}
._bblr-lmimdo{border-bottom-left-radius:var(--radius-7);}
._bbrr-lmimdo{border-bottom-right-radius:var(--radius-7);}
._btrr-lmimdo{border-top-right-radius:var(--radius-7);}
._btlr-lmimdo{border-top-left-radius:var(--radius-7);}
._h-200px{height:200px;}
._w-800px{width:800px;}
._w-lrpjqz{width:var(--space-28);}
._h-lrpjqz{height:var(--space-28);}
._miw-lrpjqz{min-width:var(--space-28);}
._mih-lrpjqz{min-height:var(--space-28);}
@media screen and (min-width: 621px) { :root:root ._dsp-_gtSmall_none{display:none;} }
._tt-3tb9js{text-transform:var(--f-tr-8);}
._fow-3uqci0{font-weight:var(--f-we-8);}
._ls-3w5fg8{letter-spacing:var(--f-yw-8);}
._fos-3slq2o{font-size:var(--f-si-8);}
._lh-3or5x5{line-height:var(--f-li-8);}
._col-qpe6k3{color:var(--colorFocus);}
._tt-3tb9i2{text-transform:var(--f-tr-6);}
._fow-3uqcga{font-weight:var(--f-we-6);}
._ls-3w5fei{letter-spacing:var(--f-yw-6);}
._fos-3slq0y{font-size:var(--f-si-6);}
._lh-3or5vf{line-height:var(--f-li-6);}
._ai-flex-end{align-items:flex-end;}
._tt-3tb9ix{text-transform:var(--f-tr-7);}
._fow-3uqch5{font-weight:var(--f-we-7);}
._ls-3w5ffd{letter-spacing:var(--f-yw-7);}
._fos-3slq1t{font-size:var(--f-si-7);}
._lh-3or5wa{line-height:var(--f-li-7);}
._fow-3uqcek{font-weight:var(--f-we-4);}
._ls-3w5fcs{letter-spacing:var(--f-yw-4);}
._fos-3slpz8{font-size:var(--f-si-4);}
._lh-3or5tp{line-height:var(--f-li-4);}
._btc-16hdpw2{border-top-color:transparent;}
._brc-16hdpw2{border-right-color:transparent;}
._bbc-16hdpw2{border-bottom-color:transparent;}
._blc-16hdpw2{border-left-color:transparent;}
._w-333314n{width:33.33%;}
._btrr-0px{border-top-right-radius:0px;}
._btlr-0px{border-top-left-radius:0px;}
._btrr-4px{border-top-right-radius:4px;}
._btlr-4px{border-top-left-radius:4px;}
._pb-1aj147z{padding-bottom:var(--space-2);}
._pt-1aj147z{padding-top:var(--space-2);}
._w-16px{width:16px;}
._h-16px{height:16px;}
._miw-16px{min-width:16px;}
._maw-16px{max-width:16px;}
._mah-16px{max-height:16px;}
._mih-16px{min-height:16px;}
._w-1aj148u{width:var(--space-3);}
._h-1aj148u{height:var(--space-3);}
._miw-1aj148u{min-width:var(--space-3);}
._mih-1aj148u{min-height:var(--space-3);}
._o-0dot5{opacity:0.5;}
._maw-10011{max-width:100%;}
._textOverflow-ellipsis{text-overflow:ellipsis;}
._whiteSpace-nowrap{white-space:nowrap;}
._fow-3uqcbz{font-weight:var(--f-we-1);}
._ls-3w5fa7{letter-spacing:var(--f-yw-1);}
._fos-3slpwn{font-size:var(--f-si-1);}
._lh-3or5r4{line-height:var(--f-li-1);}
._cur-default{cursor:default;}
